body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color:#333;
    height:100vh;
}

.container {
    background-color: #e2e2e2;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    align-items:center;
    border-radius: 2rem;
    padding: 2rem;
}

body h1{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.game-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 432px;
    max-height: 432px;
    box-shadow: none;
    overflow: hidden;
    margin:3rem;
}   

#boxSizing{

    border: 0.5px solid black;
    width:25px;
    height:25px;
}

.game-wrapper div:hover{
    background-color: #333;
}